Bonus_UptimeMonitor_BhuvanGR.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "8fc564f1-04d1-4966-a6c9-a161e10824a9",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://multi-tenancy-strapi.refine.dev",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "a85cb03e-2520-454b-8935-878e5fdc2874",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "783ab95e-af98-48be-b2c7-829c2533c95e",
              "leftValue": "={{$json.statusCode}}",
              "rightValue": "200",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        0
      ],
      "id": "0f730ac2-2658-4407-9188-0d59e31fca17",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508584742549717042/vYEvgkQ0NwoKPhMayyyIQSrR512dqnkW5H88OESlbHlpcLJGLmlHNIBmtSTlOdfKs3iz",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"content\": \"ALERT: Refine app is DOWN or unavailable.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -16
      ],
      "id": "ff304d63-57d6-4c33-a898-cbb78c45042e",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ebdec350-0012-4ff9-8716-75773cf8ef99",
  "meta": {
    "instanceId": "3e1aa336294f4efb9645b865b6bba239051fd76df17483ea3c07875eb05cf286"
  },
  "id": "WfslchlqRbzUVCIp",
  "tags": []
}