Task2_Workflow_BhuvanGR.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": {}
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "b1e76ec5-e088-496c-91fe-ce6be67e1665",
      "name": "Hourly Trigger"
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/coins/markets?vs_currency=usd&order=market_cap_desc&per_page=5&page=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "88b5a028-64d7-46d6-a2f0-599d3d2b007f",
      "name": "Fetch Crypto Data"
    },
    {
      "parameters": {
        "jsCode": "const coins = $input.all();\n\nreturn coins.map(item => {\n  return {\n    json: {\n      name: item.json.name,\n      symbol: item.json.symbol,\n      price: item.json.current_price,\n      market_cap_rank: item.json.market_cap_rank\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        416,
        0
      ],
      "id": "5edc0a73-6d85-4e20-abe5-17670a9f09b0",
      "name": "Transform Crypto Data"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "35773658-66eb-45de-84c4-da532a5f987d",
              "leftValue": "={{$json.price}}",
              "rightValue": 1000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        624,
        0
      ],
      "id": "79fd3cbc-4bfd-4f53-b512-9fdc7007b938",
      "name": "Price Validation"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1508584742549717042/vYEvgkQ0NwoKPhMayyyIQSrR512dqnkW5H88OESlbHlpcLJGLmlHNIBmtSTlOdfKs3iz",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\"content\": \"Crypto alert triggered from n8n workflow\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        832,
        -96
      ],
      "id": "aeeaa019-7dcf-4a21-8e24-306127061722",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "Hourly Trigger": {
      "main": [
        [
          {
            "node": "Fetch Crypto Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Crypto Data": {
      "main": [
        [
          {
            "node": "Transform Crypto Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transform Crypto Data": {
      "main": [
        [
          {
            "node": "Price Validation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Price Validation": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f11e76c0-5866-487b-8eeb-3058dfd5147a",
  "meta": {
    "instanceId": "3e1aa336294f4efb9645b865b6bba239051fd76df17483ea3c07875eb05cf286"
  },
  "id": "z9X1mJ6T1FXcoeKu",
  "tags": []
}